<!--Menu Navegacion Header-->
<div class="navbar bg-zinc-50 shadow-sm">
  <div class="flex-1">
    <a class="btn btn-ghost text-xl">Sistema De Inventario</a>
  </div>
  <div class="flex-none">
    <div class="dropdown dropdown-end">
      <div tabindex="0" role="button" class="btn btn-ghost btn-circle">
        <div class="indicator">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="size-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M14.857 17.082a23.848 23.848 0 0 0 5.454-1.31A8.967 8.967 0 0 1 18 9.75V9A6 6 0 0 0 6 9v.75a8.967 8.967 0 0 1-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 0 1-5.714 0m5.714 0a3 3 0 1 1-5.714 0M3.124 7.5A8.969 8.969 0 0 1 5.292 3m13.416 0a8.969 8.969 0 0 1 2.168 4.5"
            />
          </svg>

          <span class="badge badge-sm indicator-item">8</span>
        </div>
      </div>
      <div
        tabindex="0"
        class="card card-compact dropdown-content bg-base-100 z-1 mt-3 w-52 shadow"
      >
        <div class="card-body">
          <span class="text-lg font-bold">8 Items</span>
          <span class="text-info">Subtotal: $999</span>
          <div class="card-actions">
            <button class="btn btn-primary btn-block">View cart</button>
          </div>
        </div>
      </div>
    </div>
    <div class="dropdown dropdown-end">
      <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
        <div class="w-10 rounded-full">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="size-10"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"
            />
          </svg>
        </div>
      </div>
      <ul
        tabindex="0"
        class="menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow"
      >
        <li>
          <a class="justify-between">
            Profile
            <span class="badge">New</span>
          </a>
        </li>
        <li><a>Settings</a></li>
        <li><a>Logout</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="drawer lg:drawer-open flex h-screen">
  <input id="my-drawer-2" type="checkbox" class="drawer-toggle" />
  <div class="drawer-content flex flex-col items-center justify-center">
    <!-- Page content here -->
    <label for="my-drawer-2" class="btn btn-primary drawer-button lg:hidden">
      Open drawer
    </label>
  </div>
  <div class="drawer-side">
    <label
      for="my-drawer-2"
      aria-label="close sidebar"
      class="drawer-overlay"
    ></label>
    <!-- sidebar.component.html -->

    <div class="menu primary di-sidebar text-color w-80 p-4 p">
      <!-- Logo -->
      <div class="mb-8">
        <h3 class="Title-sidebar">Inventario SSV</h3>
      </div>
      <aside>
        <!--Dashboard-->
        <nav class="space-y-4">
          <div>
            <ul>
              <li>
                <a
                  class="text-sm font-semibold text-gray-900 mb-2"
                  href="/dashboard"
                >
                  <i class="pi pi-home" style="font-size: 2.5rem"></i>
                  Dashboard
                </a>
              </li>
            </ul>
          </div>
        </nav>

        <!--Medicamento-->
        <div>
          <ul>
            <li>
              <a
                class="text-sm font-semibold text-gray-900 mb-2"
                href="/medicamento"
              >
                <i class="pi pi-th-large" style="font-size: 2.5rem"></i>
                Medicamento
              </a>
            </li>
          </ul>
        </div>

        <!--Uniforme-->
        <div>
          <ul>
            <li>
              <a
                class="text-sm font-semibold text-gray-900 mb-2"
                href="/uniforme"
              >
                <i class="pi pi-box" style="font-size: 2.5rem"></i>
                Uniforme
              </a>
            </li>
          </ul>
        </div>

        <!--Inventario-->
        <div>
          <ul>
            <li>
              <a
                class="text-sm font-semibold text-gray-900 mb-2"
                href="/inventario"
              >
                <i class="pi pi-file-edit" style="font-size: 2.5rem"></i>
                Inventario
              </a>
            </li>
          </ul>
        </div>

        <!--Historial-->
        <div>
          <ul>
            <li>
              <a
                class="text-sm font-semibold text-gray-900 mb-2"
                href="/historial"
              >
                <i class="pi pi-calendar" style="font-size: 2.5rem"></i>
                Historial
              </a>
            </li>
          </ul>
        </div>
      </aside>
    </div>
  </div>

  <!-- Contenido dinámico -->
  <main class="flex-1 p-6 bg-gray-50 di-layaut">
    <router-outlet></router-outlet>
  </main>
</div>
