<div class="dashboard">
  <!-- Sección Resumen -->
  <section class="resumen">
    <h2 class="text-info">Resumen General</h2>
    <div class="cards">
      <div class="card azul">
        <div>
          <h3>Total Uniformes</h3>
          <p class="valor">{{ uniforme.length }}</p>
          <p class="detalle">Registrados</p>
        </div>
      </div>

      <div class="card verde">
        <div>
          <h3>Medicamentos</h3>
          <p class="valor">{{ medicamentos.length }}</p>
          <p class="detalle">Registrados</p>
        </div>
      </div>

      <div class="card morado">
        <div>
          <h3>Entregas Hoy</h3>
          <p class="valor">{{ entregasHoy.length }}</p>
          <p class="detalle">Realizadas hoy</p>
        </div>
      </div>
    </div>
    <!-- CIERRE DEL DIV .cards -->
  </section>

  <h2 class="text-info">Ultimas Entregas</h2>

  <!-- Sección inferior -->
  <section class="contenido">
    <!-- Entregas -->
    <div class="card-box">
      <h3 class="text-neutral">Entregas recientes</h3>
      <table class="tabla">
        <thead>
          <tr>
            <th class="text-neutral">FECHA</th>
            <th class="text-neutral">COLABORADOR</th>
            <th class="text-neutral">AREA</th>
            <th class="text-neutral">MATERIAL</th>

            <th class="text-neutral">CANTIDAD</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let e of entrega | slice : 0 : 5">
            <td class="text-neutral">
              {{ e.created_at | date : "shortDate" }}
            </td>
            <td class="text-neutral">
              {{ e.empleado?.nombre }} {{ e.empleado?.apellido }}
            </td>
            <td class="text-neutral">{{ e.empleado?.area }}</td>
            <td class="text-neutral">
              {{ e.medicamento?.name || e.uniforme?.name }}
            </td>

            <td class="text-neutral">{{ e.cantidad }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- Stock bajo -->
    <div class="card-box">
      <h3 class="text-neutral">Stock bajo</h3>

      <div
        *ngFor="let m of medicamentos | filterStockBajo"
        class="alert alert-yellow"
      >
        <div>
          <p class="titulo">{{ m.name }}</p>
          <p class="detalle">Quedan {{ m.stock_actual }} unidades</p>
        </div>
        <a href="#">Reordenar</a>
      </div>
    </div>
  </section>
</div>
