<div class="mb-4">
  <h2 class="text-4xl font-bold">Resumen General</h2>
</div>

<!--Contenerdor de las cards-->
<div class="grid gap-4 md:grid-cols-3">
  <!--Card 1-->
  <p-card class="shadow-2 border-round-lg bg-blue-50">
    <div class="flex justify-between items-center">
      <div>
        <h3 class="text-sm font-medium text-blue-600">Total Uniformes</h3>
        <p class="text-3xl font-bold">248</p>
        <p class="text-xs text-gray-500">+12 este mes</p>
      </div>
      <i class="pi pi-shopping-bag text-blue-500 text-4xl"></i>
    </div>
  </p-card>

  <!--Card 2-->
  <p-card class="shadow-2 border-round-lg bg-green-50">
    <div class="flex justify-between items-center">
      <div>
        <h3 class="text-sm font-medium text-green-600">Medicamentos</h3>
        <p class="text-3xl font-bold">156</p>
        <p class="text-xs text-gray-500">+5 esta semana</p>
      </div>
      <i class="pi pi-shopping-bag text-blue-500 text-4xl"></i>
    </div>
  </p-card>

  <!--Card 3-->
  <p-card class="shadow-2 border-round-lg bg-blue-50">
    <div class="flex justify-between items-center">
      <div>
       <h3 class="text-sm font-medium text-purple-600">Entregas Hoy</h3>
        <p class="text-3xl font-bold">8</p>
        <p class="text-xs text-gray-500">+3 vs ayer</p>
      </div>
      <i class="pi pi-shopping-bag text-blue-500 text-4xl"></i>
    </div>
  </p-card>
  
</div>
