<div class="contenerdor grid grid-cols-1">
  <!-- Columna izquierda -->
  <div>
    <h2 class="text-xl font-bold text-neutral">INVENTARIO</h2>
    <h2 class="text-lg mb-4 text-neutral">
      Gestión Y Control de stock de medicamentos y uniforme
    </h2>

    <div class="card formulario-registro p-4 shadow-lg">
      <!-- Menú de búsqueda -->
      <div class="mb-4">
        <h2 class="font-semibold mb-2 text-neutral bton-limpia">Buscar</h2>
        <label class="input flex items-center gap-2 input-seach">
          <svg
            class="h-5 w-5 opacity-50"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
          >
            <g
              stroke-linejoin="round"
              stroke-linecap="round"
              stroke-width="2.5"
              fill="none"
              stroke="currentColor"
            >
              <circle cx="11" cy="11" r="8"></circle>
              <path d="m21 21-4.3-4.3"></path>
            </g>
          </svg>
          <input type="search" class="grow" placeholder="Search" />
        </label>
      </div>

      <!-- Tipo de articulo -->
      <div class="mb-4">
        <h2 class="font-semibold mb-2">Tipo de articulo</h2>
        <select class="select select-neutral w-full filtro-busqueda">
          <option disabled selected>Seleccione estado</option>
          <option>Disponible</option>
          <option>Agotado</option>
          <option>Próximo a vencer</option>
        </select>
      </div>

      <!-- Estado -->
      <div class="mb-4">
        <h2 class="font-semibold mb-2">Estado</h2>
        <select class="select select-neutral w-full filtro-busqueda">
          <option disabled selected>Seleccione estado</option>
          <option>Disponible</option>
          <option>Agotado</option>
          <option>Próximo a vencer</option>
        </select>
      </div>

      <div>
        <i class="fa-light fa-broom"></i>
      </div>
    </div>
  </div>

  <!-- Columna derecha -->
  <div class="">
    <div class="overflow-x-auto">
      <div class="title-table">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="size-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="m21 7.5-9-5.25L3 7.5m18 0-9 5.25m9-5.25v9l-9 5.25M3 7.5l9 5.25M3 7.5v9l9 5.25m0-9v9"
          />
        </svg>

        <div>Lista de Inventario</div>
      </div>

      <table class="table table-xs">
        <thead>
          <tr>
            <th class="text-lg text-neutral">Articulos</th>
            <th class="text-lg text-neutral">Tipo</th>
            <th class="text-lg text-neutral">Descripcion</th>
            <th class="text-lg text-neutral">Stock</th>
            <th class="text-lg text-neutral">Estado</th>
            <th class="text-lg text-neutral">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th class="text-neutral">Paracetamol 500mg</th>
            <td class="text-neutral">Medicamento</td>
            <td class="text-neutral">Caja de 10 tabletas</td>
            <td class="text-neutral">100</td>
            <td>
              <div class="badge badge-soft badge-success">Disponible</div>
            </td>
            <td>
              <button type="submit" class="btn btn btn-sm bton-editar">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="size-6"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10"
                  />
                </svg>
              </button>
            </td>
          </tr>
          <tr>
            <th class="text-neutral">Uniforme Talla M</th>
            <td class="text-neutral">Uniforme</td>
            <td class="text-neutral">Camisa de SSV</td>
            <td class="text-neutral">68</td>
            <td><div class="badge badge-soft badge-error">Agotados</div></td>
            <td>
              <button type="submit" class="btn btn btn-sm bton-editar">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="size-6"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10"
                  />
                </svg>
              </button>
            </td>
          </tr>
        </tbody>

        <tbody>
          <tr>
            <th class="text-neutral">Acetaminofen 500mg</th>
            <td class="text-neutral">Medicamento</td>
            <td class="text-neutral">Caja de 10 tabletas</td>
            <td class="text-neutral">100</td>
            <td>
              <div class="badge badge-soft badge-warning">Por agotar</div>
            </td>
            <td>
              <button type="submit" class="btn btn btn-sm bton-editar">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="size-6"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10"
                  />
                </svg>
              </button>
            </td>
          </tr>
          <tr>
            <th class="text-neutral">Uniforme Talla M</th>
            <td class="text-neutral">Uniforme</td>
            <td class="text-neutral">Camisa de SSV</td>
            <td class="text-neutral">68</td>
            <td>
              <div class="badge badge-soft badge-success">Disponible</div>
            </td>
            <td>
              <button type="submit" class="btn btn btn-sm bton-editar">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="size-6"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10"
                  />
                </svg>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
